@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Muli);

body
{
    background-color: #ffffff;
}

#topbar
{

    top: 0px;
    position: fixed;
    z-index: 9999999;

    left: 0;
    right: 0;

    width: 100%;
    height: 50px;
    background-color: #373737;
    border-bottom: 5px solid #282828;
    color: #373737;

    transition: 180ms all ease-in-out;
}

#topbar #title
{

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    color: #ffffff;
    z-index: 9999999;

    top: 5px;
    position: absolute;
    margin-left: 20px;
}

#topbar #hivemc_logo
{
    z-index: 9999999;

    position: relative;

    top: 3px;
    margin-left: 800px;

    height: 45px;
    width: 100px;
}

#search
{

    color: #ffffff;
    text-align: center;

    position: relative;

    right: 180px;
    top: 100px;
    margin: 0 auto;

    width: 0;
    border-spacing: 0;

}

#search p
{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;

    display:inline-block;
    transition: 60ms all ease-in-out !important;
}

#search input
{

    background-color: #0097d5 !important;

    outline: none;

    text-align: center;
    letter-spacing: 3px;

    border: none;
    border-bottom: 5px solid #0078c4;

    color: #ffffff;

    font-family: Muli;

    width: 350px;
    height: 45px;

}

.searchSubmit
{
    background-color: #0097d5 !important;
    transition: 120ms all ease-in-out !important;
}

.searchSubmit:HOVER
{
    transform: scaleX(1);
    border-bottom: none !important;
    /*color: #00b5ff !important;*/
    transition: linear 200ms !important;
}


.echo_text_not_exists
{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    color: #373737;
}


.echo_text_title
{

    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    color: #373737;
}

.echo_text_stats
{

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    color: #373737;
}

.echo_profile_image
{
    text-align: center;
}

.echo_player_count
{
    position: absolute;

    background-color: #0097d5;

    border-bottom: 3px solid #0078c4;

    padding: 5px 5px 5px 5px;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
    color: #ffffff;

    z-index: 9999999;

    margin-left: 1200px;
    top: 12px;
}

.footer
{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

    background-color: #faf9f8;
    box-sizing: border-box;
    text-align: center;
    font: normal 18px sans-serif;

    width: 100%;

    position:fixed;
    bottom:0;
    left:0;

    padding: 25px;
    margin-top: 80px;
}

.footer .footer-name, a
{

    color:  #626262;
    font-size: 12px;
    margin: 0;
}

::-webkit-input-placeholder
{
    color: #ffffff;
}

:-moz-placeholder
{ /* Firefox 18- */
    color: #ffffff;
}

::-moz-placeholder
{  /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder
{
    color: #ffffff;
}