@CHARSET "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Muli);

body
{
    max-width: 1000px;
    font-family: 'Helvetica Neue', Arial;

    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}


@media screen and (max-width: 900px)
{
    #main-content
    {
        width: 40%;
        margin-right: 1%;
        color: green;
    }

    #position-content
    {
        background-color: green;
    }
}

#topbar
{

    top: 0px;
    position: fixed;
    z-index: 9999999;

    left: 0;
    right: 0;

    width: 100%;
    height: 55px;
    background-color: #25292c;
    border-bottom: 8px solid #1e2224;
    color: #373737;

    -webkit-box-shadow: 0px 8px 28px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 28px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 28px -5px rgba(0,0,0,0.75);
}

#topbar #title
{

    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
    font-size: 24px;
    color: #ffffff;
    z-index: 9999999;

    top: -5px;
    position: absolute;
    margin-left: 120px;
}

#topbar #logo
{
    content: url("/../images/logo-small.png");

    z-index: 9999999;

    position: fixed;

    top: 5px;
    margin-left: 40px;

    height: 50px;
    width: 50px;
}

#main-content
{
    width: 66%;
    margin-right: 1%;
}

#main-content #description
{
    background-color: #25292c;

    padding: 2px 8px 2px 8px;

    border: 6px solid #1e2224;

    color: white;

    width: 100%;
    margin-top: 50px;
    margin-left: 550px;
}

#main-content #description h2, h3
{
    line-height: 88%;
    text-align: center;
}

#main-content #description h2
{
    font-size: 24px;
}

#main-content #description h3
{
    font-size: 14px;
}

#main-content #description label
{
    margin-left: 280px;
    background: none;
    color: white;
    border: none;
}

#position-content
{
    display: none;

    border: 10px solid #1e2224;
    background: #25292c;
    color: #fff;

    z-index: 9999999;

    width: 1000px;
    height: 1050px;

    top: 80px;
    left: 350px;

    position: absolute;

    -webkit-box-shadow: 0px 9px 66px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 66px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 66px 5px rgba(0,0,0,0.75);
}

#position-content h1, p
{
    text-align: center;
}

#position-content p
{
    font-size: 25px;
}

#position-content #plugindev p
{
    text-align: center;
    font-size: 10px;
}

#position-content #minigamedev p
{
    text-align: center;
    font-size: 10px;
}

#position-content #networkdev p, h4
{
    text-align: center;
    font-size: 10px;
}

#position-content #cross_botton label
{
    margin-left: 1080px;
    margin-top: 1080px;
    color: white;
}

hr
{
    border: 0;
    border-top: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }